<div class='checkbox'>

  <label>
    {{input
      type='checkbox'
      checked=checked
      disabled=disabled
      name=name
      tabindex=tabindex}}
    {{label}}
  </label>

  {{fm-errortext errors=errors}}

</div>