<div class='checkbox'>

  <label>
    {{input
      type='checkbox'
      checked=checked
      disabled=disabled
      name=name
      tabindex=tabindex}}
    {{label}}
  </label>

  {{#if showErrors}}
    {{fm-errortext errors=errors}}
  {{/if}}

</div>
