{{#if label}}
  <label class='{{labelClass}}'>{{label}}</label>
{{/if}}

{{#each content as |option|}}

  {{fm-radio content=option onUserInteraction='userInteraction' optionLabelPath=optionLabelPath optionValuePath=optionValuePath}}

{{/each}}

{{#if showErrors}}
  {{fm-errortext errors=errors}}
{{/if}}
